[Desktop Entry]
Name= run3g
Comment= Chay root desktop
Exec=sudo sh /home/pi/Run3G.sh
Icon=/usr/share/pixmaps/dillo.xpm
Type=Application
Encoding=UTF-8
Terminal=false
Categories=None;